# Entorno de ejecución: dev o prod
APP_ENV=dev

# Configuración del Servidor Web
HOST=0.0.0.0
PORT=8050
DEBUG=True

# Rutas (Relativas al directorio raíz del proyecto)
DATA_DIR=data
UPLOAD_DIR=data/uploads
MODEL_DIR=data/models
DB_FILE=data/nexusbi.db

# Configuración de Caché (DiskCache)
CACHE_DIR=data/cache
CACHE_DEFAULT_TIMEOUT=86400  # 24 horas en segundos