# Entornos virtuales
venv/
env/

# Archivos de sistema de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Archivos de entorno
.env

# Datos de ejecución (Ignoramos carpetas específicas, NO la carpeta data entera)
data/uploads/
data/models/
data/cache/
data/nexusbi.db